@charset "utf-8";

body > .winbox-layout.service-hub {
	width: 100%;
	min-height: 100dvh;
	margin-inline: auto;
	padding: 0;
}

.service-hub > .page-content__placeholder {
    padding: var(--winbox-layout-gutter);
}

.service-hub__section {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-200);
}

.service-hub__item {
	display: flex;
	align-items: center;
	
	gap: var(--spacing-150);
	width: 100%;
	padding: var(--spacing-200);
	border: 1px solid var(--border-elevated-3);
	border-radius: var(--spacing-200);
	background: linear-gradient(145deg, var(--bg-elevated-2), var(--bg-elevated-1));
	transition: background-color .2s ease, border-color .2s ease, transform .2s ease;
	
	font-size: var(--font-size-2xl);
	color: var(--fg-white);
	text-align: left;
	
	cursor: pointer;
}

.service-hub__item:focus-visible {
	outline: 3px solid var(--blue-300);
	outline-offset: 3px;
}


@media (min-width: 768px) {
	.service-hub__item {
		min-height: 160px;
		padding: var(--spacing-300);
	}
}


/* 웹 접근성 대응: 사용자가 OS/브라우저에서 “동작 효과 줄이기”를 설정했는지 감지하는 CSS 미디어 쿼리 */
@media (prefers-reduced-motion: reduce) {
	.service-hub__item {
		transition: none;
	}

	button.service-hub__item:hover {
		transform: none;
	}
}


.app-frame {
	position: absolute;
	inset: 0;
}

.service-hub__item::before {
	content: '';
	width: 24px;
	height: 24px;
	display: inline-block;
	
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.service-hub__item[data-title="설비마스터"]::before {
	background-image: url('/resources/user/images/icons/database_search.svg');
}
.service-hub__item[data-title="P&ID"]::before {
	background-image: url('/resources/user/images/icons/pid.svg');
}
.service-hub__item[data-title="파노라마"]::before {
	background-image: url('/resources/user/images/icons/vrpano.svg');
}
.service-hub__item[data-title="일일안전작업현황"]::before {
	background-image: url('/resources/user/images/icons/cognition.svg');
}
.service-hub__item[data-title="위치/건강 모니터링"]::before {
	background-image: url('/resources/user/images/icons/detection_and_zone.svg');
}
.service-hub__item[data-title="두케어"]::before {
	background-image: url('/resources/user/images/icons/open_in_new.svg');
}
.service-hub__item[data-title="표준복합"]::before {
	background-image: url('/resources/user/images/icons/open_in_new.svg');
}
.service-hub__item[data-title="가상시뮬레이션"]::before {
	 background-image: url('/resources/user/images/icons/open_in_new.svg');
 }


