@charset "utf-8";

/* 
 * 포미트 - 서부 iPOS 공통 스타일시트
 * 작성자 : 김윤지
 * 작성일 : 2024.11.20
 * 임포트 파일 : 리셋, 부트스트랩, 폰트
 * 
 */

@import url(/resources/fonts/NotoSansKR/NotoSansKR.css);
@import url(/resources/css/variables.css);
@import url(/resources/css/reset.css);
@import url(/resources/css/components.css);

:root {
	--text-shadow: var(--effect-shadow-elevated-2);
	--login-bg: var(--bg-accent-navy-darker);
	--login-box-shadow: var(--effect-shadow-elevated-2);
	
	--divider: var(--border-neutral-muted);
	--form-input-bg: var(--bg-accent-navy-subtlest);
	
	--login-error-text: var(--fg-danger-subtle);
	--login-error-bg: var(--bg-danger-strong);
	--login-error-border: var(--border-danger-soft);
	--login-radius: var(--spacing-100);
}

/*#################### bootstrap overriding ####################*/
body {
	background-image: url(/resources/images/login-visual-01.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100%;
	
	color: var(--login-fg);
}

a {
	color: var(--login-link-fg);
	text-decoration: none;
}

a:hover {
	color: var(--login-link-hover-fg);
}

[onclick] {
	cursor: pointer;
}

small {
	font-weight: 400 !important;
}

strong {
	font-weight: 700;
}

h1 {
	display: none;
}

/*#################### login box ####################*/
.login-panel {
	width: 100%;
	height: 100vh;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.login-box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: nowrap;
	gap: 2rem;
	
	margin: 0 auto;
	background-color: var(--login-bg);
	padding: 2rem 3rem;
	border-radius: 1rem;
	backdrop-filter: blur(4px);
	box-shadow: var(--login-box-shadow);
}

.title {
	font-size: 1.5rem;
	color: var(--login-title-fg);
	font-weight: 700;
}

.login-form {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media (min-width: 768px) {
	.login-box {
		justify-content: center;
		box-shadow: none;
	}
}

@media (min-width: 1200px) {
	body {
		background-size: cover;
	}
	h1 {
		display: flex;
		align-items: center;
		gap: 1rem;
		
		height: 48px;
		position: absolute;
		top: 1.5rem;
		left: 1rem;
		
	color: var(--login-title-fg);
		font-size: 1.25rem;
		font-weight: 700;
		text-shadow: var(--text-shadow);
		
		background-image: url(/resources/images/logo.svg);
		background-position: left bottom 10px;
		background-repeat: no-repeat;
		background-size: auto 32px;
		padding-left: 68px;
	}
	
	h1 span {
		font-weight: 400;
		position: relative;
		padding-left: 1rem;
	}
	
	h1 span::before {
		position: absolute;
		content: '';
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 2px;
		width: 1px;
		height: 20px;
		background-color: var(--divider);
	}
	
	.login-panel {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		max-width: 400px;
		background-color: var(--login-bg);
		backdrop-filter: blur(8px);
	}
	.login-box {
		background-color: transparent;
		backdrop-filter: none;
		border: none;
	}
	.title {
		font-size: 1.75rem;
	}
}

@media (min-width: 1400px) {
	.login-panel {
		max-width: 640px;
	}
}

@media (min-width: 1800px) {
	.login-panel {
		max-width: 720px;
	}
}

.icon-account,
.icon-lock {
	padding-left: 3.5rem;
	background-position: left 1rem center;
	background-repeat: no-repeat;
	background-size: 20px;
}

.icon-account {
	background-image: url(/resources/images/icons/person.svg);
}

.icon-lock {
	background-image: url(/resources/images/icons/lock.svg);
}

.form-control[type="text"],
.form-control[type="password"] {
	--form-height: 40px;
	padding-left: 2.5rem;
}

.form-check-label {
	margin-left: .5rem;
}

.form-check-input {
	margin-top: 0;
}

.err-box:has(span) {
	margin: 1rem 0;
	color: var(--login-error-text);
	background-color: var(--login-error-bg);
	border-radius: var(--login-radius);
	border: solid 1px var(--login-error-border);
	padding: .75rem 1.5rem;	
	flex-direction: column;
	align-items: flex-start;
}

.button {
	--button-height: 40px;
	width: 100%;
}
